@import "../../style.scss";
.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    height: 50px;
    z-index: 999;
    .left { 
      display: flex;
      align-items: center;
      gap: 30px;
      width: 70%;
      span {
        font-weight: bold;
        font-size: 25px;
        color: themed("logo");
      }
      .search {
        padding: 5px;
        display: flex;
        align-items: center;
        width: 50%;
        border: 1px solid themed("border");
        background-color: #d6d3d3;
        border-radius: 30px;
        position: relative;
        input {
          width: 100%;
          border: none;
          outline: none;
          background: transparent;
          padding: 5px;

          @include mobile{
             display: none;
          }
          @include tablet{
            width: 200px;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 30px;
      @include mobile{
        display: none;
      }
      .user {
        display: flex;
        gap: 5px;
        @include tablet{
          display: none;
        }
        span {
          font-weight: bold;
        }
      }
    }
  }
}
